*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row{
    gap: 15px;
    display: flex;
    min-height: 40px;
    margin: 10px 10px;
}

.col{
    flex: 1;
}

.flex-2{
    flex: 2;
}

.flex-3{
    flex: 3;
}

.col, .flex-2, .flex-3{
    color: yellow;
    background-color: black;
}